@standard:#3498db;

//首页头部
.admin-head {
  height: 60px;
  min-width: 550px;
  color: #fff;
  background: @standard;
  font-size: 16px;

  .head-company {
    display: inline-block;
    padding: 10px;
    cursor:pointer;
    position: relative;

    .image {
      margin-right: 5px;
    }
    .fa {
      margin-left: 10px;
    }
    ul {
      position: absolute;
      top: 60px;
      left: 0px;
      width: 100%;
      color: @standard;
      background: #fff;
      border-right: 1px solid @standard;
      border-bottom: 1px solid @standard;
      z-index: 2;

      li {
        height: 40px;
        line-height: 40px;
        text-align: center;

        &:hover {
          background: #eee;
        }
      }
    }
  }
  ul.head-user {
    float: right;

    li {
      display: inline-block;
      padding: 5px 10px;
      border-right: 1px solid #fff;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      &:last-child {
        width: auto;
        padding: 10px;
        position: relative;
        border-right: none;

        .fa {
          margin-left: 5px;
          margin-right: auto;
        }
        .image {
          margin-right: 5px;
        }
        ul {
          width: 100%;
          color: #3487db;
          border-left: 1px solid @standard;
          border-bottom: 1px solid @standard;
          background: #fff;
          position: absolute;
          top: 60px;
          right: 0px;

          li {
            display: block;
            border: none;
            padding: 10px;
            margin-bottom: 2px;

            &:hover{
              background: #eee;
            }
          }
        }
      }
      .fa {
        margin-right: 5px;
      }
    }
  }
}

.admin-body {
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 128px;
  background: #404853;
  color: #fff;
  font-size: 16px;

  li.active {
    background: #273238;
  }
  li {
    padding: 16px 20px;
    margin-bottom: 1px;
    cursor: pointer;

    &:first-child {
      text-align: center;
    }
    &:hover {
      background: #273238;
    }
    .fa {
      margin-right: 10px;
    }
  }
}

.admin-body.shrink-state {
  width: 40px;
  transition: width .5s ease-in;

  li {
    padding: 10px;
  }
}
